
.navbar-bg{
    background-color: #002021 !important;
    height: 50px !important;
}
.navbar-toggler-icon{
    color: white !important;
}

.btn-whatis{
    background-color:#002021 !important; 
    color: #A8EFF0 !important;
    width: 200px !important;
    
}

.btn-whatis:hover{
    background-color:#19686A !important; 
    color: #002021 !important;

}

#bottom-landing{
    background-image: url('../../public/wavesSvg.svg');
    background-repeat: no-repeat;
    background-size: cover;

}

/* MENU CARDS */

.icon-container{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center ;
    margin: 5px;
}

.icon-container > i {
    font-size: 40px;

    color: #002021;
    
}
.card-menu{
    background-color: #002021 !important;
    padding: 15px !important;
    border: none !important;
    transition: 0.3s;
    cursor: pointer;
}

.card-menu:hover{
    background-color: #002F31 !important;
 
}
.header-card-menu{
    color: #A8EFF0;
    font-size: 30px;
}

.subtitle-card-menu{
    color: #19686A ;
    font-size: 20px;
   
}

.header-section-menu{
    color: #A8EFF0;

}


/*SECCION DE EVENTOS*/

.section-event-container{
    position: relative;
    background-image: url('../../public/wave-haikei.svg') ;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}
.top-section-event{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.event-content{
    z-index: 10;
}

.header-section-event{
    margin-top: 100px;
    padding-bottom: 10px;
    border-bottom: #002021 3px solid;
    
}

.card-event{
    border: none !important;
    border-radius: 0px !important;
    margin-bottom: 15px;
    text-decoration: none !important;
    transition: 0.3s;
    text-decoration: none;
    padding: 5px;
    min-height: 510px;
}

.card-event:hover{
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

.img-event-content{
    width: 100%;

}

.img-event{
    width: 100%;
}

.title-event{
    font-size: 22px;
    font-weight: 500;
    color: #002021;

}

.place-event{
    font-size: 18px;
    font-weight: 400;
    color: #625B71;
    margin: 0;

}


a{
    text-decoration: none !important; 
}

@media ( max-width: 600px ) {
    .header-section-event{
        margin-top: 100px;
    }

    .card-event{
        min-height: 300px;
    }
}

/* SECCION ABOUT */

#github-icon{
    font-size: 150px;
    cursor: pointer;
    color: #002021 !important;
    transition: 0.3s;

}
#github-icon:hover{
    color: #19686A !important;

}
#VortexDev{
    cursor: pointer;
    fill: #002021;
}

.header-about{
    margin-top: 5px;
    padding-bottom: 10px;
    border-bottom: #002021 3px solid;
}

.text-about{
    font-size: 20px;
    text-align: justify;
}

.conatiner-all-about{
    min-height: 100vh;
}

.container-about{
    height: 300px;
}

.container-about:nth-child(3){
    background-color: #002021 !important;
    color: #A8EFF0;
}

.image-about{
    border-radius: 100%;
    filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.35));
}

.text-about > a {
    color: #19686A;
}

@media ( max-width: 600px ) {
    .container-about{
        height: auto;
    }
}


/*
    SECCION DAILY ART 
    style={{backgroundColor:'rgb(0, 32, 33);', color:'#19686A', borderColor: '#19686A'}}
*/

.bg-author-info{
    
    background-color: rgba(0, 32, 33, 0.95);
    color: #19686A;
    border: #19686A solid 2px !important;
}
.btn-share-artwork{
    width: 200px !important;
    height: 35px !important;
    color: #19686A !important;
    background-color: #002021 !important;
    padding: 20px !important;
    border-radius: 5px !important;
    transition: 0.3s !important;
}

.btn-share-artwork:hover{
    color: #002021 !important;
    background-color: #19686A !important;
}

.text-display{
    text-align: justify;
}



/* NAVBAR */

#navbar{
    height: 60px;
    background-color: #002021   !important;
    opacity: 1;
}

.offcanvas-header{
    background-color: #002021 !important;

}
.offcanvas-body{
    background-color: #002021 !important;
    padding: 0 !important;
}

.list-links{
    width: 100%;
    gap: 10px;
    
}

.list-group-link{
    width: 100%;    
    height: 50px;
    list-style: none;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;    
    color: whitesmoke;
}

.list-group-link > i {
    padding-left: 10px;
}

.list-group-link:hover{
    background-color: #19686A;
    color: #002021;
}



ul{
    padding: 0 !important;
}

.list-group-link > span{
    margin-left: 5px;
}


/*
SPINNER
*/

.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }
  .lds-circle > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: #002021;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }



  /* COLLECTION */
  #list-artworks{
    grid-template-rows: masonry ;
  }
  
  /* EXHIBITIONS */
  .card-exhibition{
    transition: 0.3s;
    cursor: pointer;
  }
  .card-exhibition:hover{
    filter: opacity(0.8);
  }

  #logo-svg:hover{
    cursor: pointer;
  }

  .vortex-footer{
    color: #002021;
  }
  .vortex-footer:hover{
    color: #19686A;
  }
  body{
    overflow-x: hidden;
  }

  /* Not found Icon */ 

  .my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 40px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 50px;
  }

  .card-collection{
    border: none !important;
    transition: 0.3s;
  }
 
.card-collection:hover{
    border: none !important;
    filter: opacity(0.8);
    color: #19686A;
} 

.link-collection{
    color: #002021;
}


@media (max-width: 767px) {
    .image-id-container > img{
        max-width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .image-id-container > img{
        max-width: 500px;
    }   }   

@media (min-width: 1024px) {
    .image-id-container > img{
        max-width: 500px;
    }   
  }